* { /*CAMANDO GERAL DA PÁGINA*/
    margin: 0; /*MARGEM DA PÁGINA DO BROWSER*/
    padding: 0; /*MARGEM INTERNA*/
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}

#capsule{
    width: 1300px;
    margin: auto;
}

.upper-box {
    background-image: url("./contact-us-2.jpg"); /*COMANDO DE INSERÇÃO DE IMAGEM*/
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    /* background-repeat: no-repeat;
    background-size: 100% 100%; */

}

.header {
    padding-top: 38px;
    padding-left: 35px;
    height: 80px;
    background-color: rgb(131, 18, 18);

}

.title-header {
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    display: inline; /*DISPOSIÇÃO DOS ITENS*/
    cursor: pointer; /*MUDA O CURSOR DO MOUSE*/
    text-shadow: 1px 1px 3px black;
}

.link-header {
    font-size: 14px;
    color: white;
    margin-left: 30px;
    cursor: pointer; /*MUDA O CURSOR DO MOUSE*/
    text-decoration: none;
    text-shadow: 1px 1px 3px black;
}

#portologo{
    height: 200px;
    margin-top: 270px;
    margin-bottom: 30px;
    margin-right: 30px;
    float: right;
    /* display:block;
    margin-left: auto;
    background-color: red; */
}

h1 {
    font-size: 90px;
    /* color: white; */
    text-shadow: black 1px 1px 1px;
    margin-top: 30px;
    /* position: relative; */
    /* margin-top: 300px; */
    margin-right: 50px;
    /* background-color: red; */
}

.form-container{
    float: left;
}

#contact-form{
    /* visibility: hidden;
    opacity: 0;
    transition: opacity 1s linear; */
    background-color: rgb(89, 3, 3);
    border-radius: 10px;
    width: 300px;
    padding: 20px;
    margin-top: 50px;
    margin-left: 50px;

}

.show-form{
    visibility: visible;
    opacity: 1;
}

.form-header {
    font-size: 24px;
    color: white;
    margin-bottom: 30px;
    text-align: center;
}

input , select{
    display: block;
    background: #f9f9f9;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    height: 40px;
    width: 250px;
    margin-bottom: 20px;
    padding-left: 10px;
}

textarea{
    display: block;
    height: 80px;
    width: 250px;
    background: #f9f9f9;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-top: 8px;
}

label{
    font-size: 14px;
    color: white;
}

button{
    width: 250px;
    height: 40px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #3ecf08;
    color: white;
    font-size: 15px;
    font-weight: bold;
   
}

#about-contato{
    height: 600px;
}

#contatos-1{
    background-color: white;
    color: rgb(20, 7, 7);
    padding: 30px;
    clear: right;
    float: right;
    /* text-align: right; */
    /* display: inline-block; */
}

#contact-text{
    text-align: right;
}

#pcd-box{
    background-color:rgb(89, 3, 3);
    margin-right: 50px;
    padding: 20px;
    width: 430px;
    height: 120px;
    border-radius: 10px;
    box-sizing: content-box;
}

#pcd-image{
    height: 100px;
    float: left;
    margin: 10px;
}

#pcd-text{
    float: right;
    /* background-color: green; */
    color: white;
    margin-top: 30px;
    
}

#about-us-subtitle-1{
    margin-right: 50px;
    margin-left: 10px;
    font-size: 20px;
}

#about-us-subtitle-2{
    font-size: 20px;
}


.about-text-1{
    font-size: 15px;
    text-align: right;
    padding: 10px 50px 10px 10px;
    
}

.about-text-2{
    font-size: 15px;
    text-align: right;
    padding: 10px;
    
}

footer{
    height: 80px;
    color: white;
    background-color:rgb(89, 3, 3);
}

.footer-content{
    margin-right: 30px;
    padding-top: 20px;
    text-align: right;
    font-size: 15px;
}
